.counterPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 250px;
    background-color: #88DBEE;
    border-radius: 10px;
}