body {
    background-color: #2A2D36;
}

.counter{
    display: flex;
    gap:20px;
    padding: 10px;
}

.counterMain {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left:50%;*/
    /*transform: translate(-50%, -50%);*/
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-around;
    width: 500px;
    height: 400px;
    background-color: #2A2D36;
    border: #88DBEE 1px solid;
    border-radius: 10px;
}

.counterPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 250px;
    background-color: #88DBEE;
    border-radius: 10px;
}
.counterPanelItem{
    display: flex;
    gap:10px;
    font-size: 2rem;
}

.counterPanelInput{
    text-align: center;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.counterPanelInputError{
    outline: none;
    border: 2px solid red;
}

.counterView{
    font-size: 2rem;
}

.counterViewNum{
    font-size: 6rem;
}

.inputTitle{
    font-size:2rem;
}

.counterControls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 100px;
    background-color: #2A2D36;
    border: #88DBEE 1px solid;
    border-radius: 10px;
}

.button {
    font-size: 4rem;
    color: #2A2D36;
    background-color: #88DBEE;
    border-radius: 10px;
    padding: 0 20px;
}

.button:active {
    font-size: 4rem;
    color: #88DBEE;
    background-color: #2A2D36;
    border-radius: 10px;
    padding: 0 20px;
}

.disabled {
    opacity: .3;
}

.red {
    color: red;
    font-weight: bold;
}