.counterControls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 100px;
  background-color: #2a2d36;
  border: #88dbee 1px solid;
  border-radius: 10px;
  user-select: none;
}

.button {
  cursor: pointer;
  font-size: 4rem;
  color: #2a2d36;
  background-color: #88dbee;
  border-radius: 10px;
  padding: 0 20px;
  user-select: none;
}

.button:active {
  font-size: 4rem;
  color: #88dbee;
  background-color: #2a2d36;
  border-radius: 10px;
  padding: 0 20px;
}

.button:disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}
